body {
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  ul.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    position: relative;
    list-style: none;
  }
  
  li.nav-item {
    float: left;
    margin: 0;
  }
  
  ul.navbar a {
    color: #6ab0fc;
    text-decoration: none;
    font-weight: bold;
    margin: 0 20px;
  }
  
  ul.navbar a:hover {
    color: #0329ff;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    background-color: #cfdbe8;
    font-family: Arial, sans-serif;
  }

  .form-container {
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #96c9ff;
    border-radius: 5px;
    box-sizing: border-box;
  }
  button {
    margin-top: 10px;
    background-color: #3EB8F9;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  button:hover {
    background-color: #037dff;
  }

  .button1 {
    background-color: #3EB8F9;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }

  .button1:hover {
    background-color: #037dff;
  }

  .button2 {
    margin-top: 30px;
    background-color: white;
    color: #3EB8F9;
    padding: 5px;
    border: 2px solid #3EB8F9;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

  .button2:hover {
    background-color: #DDF3FE;
    color: #3EB8F9;
    border: 2px solid #3EB8F9;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }

  .profile-section {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.profile-picture {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-details {
    margin-left: 20px;
}

.profile-details h2 {
    font-size: 24px;
    font-weight: bold;
    color: #3EB8F9;
    margin-bottom: 10px;
}

.profile-details p {
    margin: 5px 0;
    color: #000
}

  .container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

    table, th, td {
        border: 2px solid #96c9ff;
    }

    th, td {
        padding: 10px;
        text-align: left;
        color: #000;
    }

    th {
        background-color: #3EB8F9;
        color: white;
        font-weight: bold;
    }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 10px;
  }
  .title {
    font-size: 36px;
    font-weight: bold;
    color: #6ab0fc;
  }

  .description1 {
    font-size: 20px;
    font-weight: bold;
    color: #51b9f1;
  }

  .description2 {
    font-size: 15px;
    font-weight: bold;
    color: #000;
  }

  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin-top: 20px;
    padding: 20px;
  }
  .logo {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }
  .text {
    width: 600px;
    height: 50px;
    border: 5px solid #96c9ff;
    margin-top: 20px;
    font-size: 24px;
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin-top: 20px;
    padding: 10px;
  }

  .footer-text {
    font-size: 18px;
    color: #96c9ff;
  }
  video {
    width: 600px;
    height: 450px;
    display: block;
  }
  .camera {
    position: relative;
    display: inline-block;
    width: 600px;
    height: 450px;
    background-color: #000;
    min-height: 450px;
  }
  .camera-container {
    position: relative;
    display: inline-block;
    width: 600px;
    height: 450px;
  }
  #overlayCanvas {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 10;
  }